* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body img{
    border-radius: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #b2ebf2;
}
/* navegacion */
.header {
    width: 100%;
    background-color: #b2ebf2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 24px;
}
.titleHead{
    font-family: "Hachi Maru Pop", cursive;
    font-style: normal;
}
.navHead {
    display: flex;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    padding-left: 25%;
}
.navHead li{
    font-family: "Hachi Maru Pop", cursive;
    font-style: normal;
    background-color: blue;
    padding: 10px;
    border-radius: 10px;
    border: 2.5px solid pink;
    box-shadow: inset 0 0 5px rebeccapurple, 0 0 10px rebeccapurple;
    color: white;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
}
.inili, .playli{
    margin-right: 20px;
}
.fa-star {
    color: #ec0d7d;
}
.fa-headphones{
    color: rgb(163, 250, 2);
}
.fa-gift{
    color: pink;
}
/*Fin de la navegacion*/
/*Config Portada*/
.imgPort{
    background-image: url(/img/portada.png);
    background-position: center;
    background-size: cover;
    height: 1000px;
}
.positionImg{
    margin-left: 1100px;
    padding-top: 140px;
}
.textImg{
    display: grid;
    text-align: center;
    font-size: 29px;
}
.celuTximg{
    display: none;
}
.caroIni{
    margin-bottom: 1%;
    font-family: "Hachi Maru Pop", cursive;
    color: rgb(7, 32, 255);
}
/*Fin de portaada imagen*/
/*Segunda Seccion*/
.second{
    margin-bottom: 2%;
}
.sectInic{
    display: flex;
    font-size: 55px;
    justify-content: center;
    align-items: center;
}
.neon{ /*Texto primario de la segunda seccion*/
    margin: 0;
    font-size: 55px;
    font-family: "Hachi Maru Pop", cursive;
    color: white;
    text-shadow: 0 0 10px rgb(96, 11, 233), 0 0 15px rgb(96, 11, 233), 0 0 20px rgb(96, 11, 233);
}
.sectSec{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
 /* Parte 1 de la seccion 2 */
.kaitoSec{
    font-family: "Hachi Maru Pop", cursive;
    font-size: 13px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.kaitoSec h1{
    text-align: center;
}
.kaitoSec img{
    width: 400px;
    height: 400px;
}
.emuSec{
    font-family: "Hachi Maru Pop", cursive;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emuSec img {
    width: 200px;
    height: 200px;
    margin-right: 5%;
}
.emuSec h1{
    text-align: center;
}
    /* Final de la Parte 1 de la seccion 2 */
    /*Parte 3 de la seccion 2*/
.aizenSec{
    font-family: "Hachi Maru Pop", cursive;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.aizenSec img {
    width: 200px;
    height: 200px;
}
.aizenSec h1{
    text-align: center;
}
.ichirkusSec{
    font-family: "Hachi Maru Pop", cursive;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ichirkusSec img{
    width: 250px;
    height: 500px;
    margin-right: 4%;
}
.ichirkusSec h1{
    text-align: center;
}

/*parte 2 de la seccion 2*/
.secPdos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secPdos img{
    width: 240px;
    height: 240px;
}
.imgOfsec{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1SecDos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1SecDos h1{
    font-family: "Hachi Maru Pop", cursive;
    font-size: 20px;
    text-align: center;
}
.h1SecDos img{
    width: 180px;
    height: 180px;
}
.textIncart{
    font-weight: bold;
    text-align: center;
    font-family: "Hachi Maru Pop", serif;
    font-size: 10px;
}
.text h1 {
    font-family: "Hind Mysuru", sans-serif;
    font-size: 12px;
}
:root{
    --primary: #fff;
    --bg-envelope-color: #f5edd1;
    --envelope-tab: #ecdeb8;
    --envelope-cover: #e6cfa7;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #444;
    --heart-color: rgb(252, 8, 231);

    --pink: #ff74a4;
    --violet: #9f6ea3;
    --lightblack: #ffffff;
    --white: #0e899e;
    --darkwhite: #cecaca;
    --pinkshadow: #ffcbdd;
    --lightbshadow: rgba(0,0,0,0.15);
}
.one{
    background-color: #cccccc;
    box-sizing: border-box;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.background{
    height: 300px;
    margin: 0;
}
.one{
    width: 500px;
    height: 300px;
}
.container {
    display: grid;
    position: absolute;
    place-items: center;
}
.container > .envelope-wrapper {
    background: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
}
.envelope-wrapper > .envelope {
    position: relative;
    width: 500px;
    height: 240px;
}
.envelope-wrapper > .envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 150px solid var(--envelope-tab);
    border-right: 250px solid transparent;
    border-left: 250px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}
.envelope-wrapper > .envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0px;
    height: 0px;
    border-top: 150px solid transparent;
    border-right: 250px solid var(--envelope-cover);
    border-bottom: 100px solid var(--envelope-cover);
    border-left: 250px solid var(--envelope-cover);
}
.envelope > .letter {
    position: absolute;
    right: 20%;
    bottom: 0;
    width: 60%;
    height: 98%;
    background: var(--primary);
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 15px 15px 50px 15px;
}
  
.envelope > .letter > .text {
    font-family: 'Comic Neue';
    color: var(--txt-color);
    text-align: left;
    font-size: 12px;
}
.heart {
    position: absolute;
    top: 51%;
    left: 50%;
    width: 30px;
    height: 30px;
    background: rgb(255, 131, 151);
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 1px 6px var(--shadow-color);
    cursor: pointer;
}
.heart:before, .heart:after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 131, 151);
    border-radius: 50%;
}
.heart:before {
    top: -15.5px;
}
.heart:after {
    right: 15.5px;
}
.flap > .envelope:before {
    transform: rotateX(180deg);
    z-index: 0;
}
.flap > .envelope > .letter {
    bottom: 140px;
    transform: scale(1.5);
    transition-delay: 1s;
}
.flap > .heart {
    transform: rotate(90deg);
    transition-delay: 0.4s;
}
.love{
    text-align: center;
    font-family: "Jaro", sans-serif;
}
/*Final parte 2 seccion 2*/
/*Seccion 3 Inicio*/
   /*seccion 3 part1*/
.trid{
    margin-bottom: 20px;
}
.tridSecone{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.tridSecone video{
    border-radius: 20px;
    width: 650px;
}
.katmikTred{
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.katmikTred i {
    color: rebeccapurple;
}
.neontridone{
    margin: 0;
    font-size: 40px;
    font-family: "Hachi Maru Pop", cursive;
    color: white;
    text-shadow: 0 0 15px rgb(17, 51, 204), 0 0 20px rgb(17, 51, 204), 0 0 30px rgb(17, 51, 204);
}
.kaituMikutres h3{
    font-family: "Hachi Maru Pop", cursive;
    text-align: center;
}
.kaitogiftTrid{
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.kaitogiftTrid img{
    width: 250px;
    height: 250px;
}
    /*Seccion 3 parte 1 final*/
    /*Seccion 3 parte 2 inicio*/
.tridSectwo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.mikuNavidad img{
    height: 420px;
}
.mikNavTitle{
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.mikNavTitle i{
    color: #32e299;
}
.neontriddos{
    margin: 0;
    font-size: 40px;
    font-family: "Hachi Maru Pop", cursive;
    color: white;
    text-shadow: 0 0 30px rgb(204, 17, 195), 0 0 20px rgb(17, 51, 204), 0 0 30px rgb(204, 17, 195), 0 0 30px rgb(204, 17, 195);
}
.mikuNavText h3{
    font-family: "Hachi Maru Pop", cursive;
    text-align: center;
}
.mikuNavText h3 i{
    color: rgb(47, 94, 224);
}
.tridSectwo video{
    border-radius: 20px;
    width: 650px;
}
    /*Seccion 3 parte 2 final*/
/*Seccion 3 final*/
/*Seccion 4 inicio*/
.four{
    margin-top: 10px;
    margin-bottom: 15px;
}
    /* Titulo inicio 4*/
.titleFourgift{
    display: flex; justify-content: center; align-items: center;
    font-size: 40px;
    margin-bottom: 1em;
}
.titleFourgift i{
    color: #0510ac;
}
.neonTitlegift{
    margin: 0;
    font-size: 40px;
    font-family: "Hachi Maru Pop", cursive;
    color: white;
    text-shadow: 0 0 30px rgb(218, 10, 218), 0 0 20px rgb(123, 204, 17), 0 0 35px rgb(230, 11, 95), 0 0 35px rgb(204, 17, 195);
}
    /*Config 4 parte 2 donde esta el contenido*/
.fourSecdos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
    /*parte 1 img*/
.imgFourGif img{
    width: 500px;
}   
    /*Parte 2 Music De spotify*/
.textPrinFour{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.textPrinFour img{
    width: 170px;
}
.textPrinFour h3{
    font-family: "Hachi Maru Pop", cursive;
    text-align: center;
}
.textSecFour{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.textSecFour img{
    width: 170px;
}
.textSecFour h3{
    font-family: "Hachi Maru Pop", cursive;
    text-align: center;
}
 /*Tercera parte de la cuarta parte XDD*/
.regalosBotons{
    display: grid;
    justify-content: center;
    align-items: center;
}
.titlGift{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.titlGift img{
    width: 170px;
}
.titlGift h3{
    font-family: "Hachi Maru Pop", cursive;
    text-align: center;
}
.butOne, .butSecon, .butThre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.butOne a{
    cursor: pointer;
}
.butOne button a, .butSecon button a, .butThre button a{
    text-decoration: none;
}
.butOne img, .butSecon img, .butThre img{
    width: 170px;
}
.butOne button, .butSecon button, .butThre button{
    font-family: "Jaro", serif;
}
.butOne button, .butSecon button, .butThre button{
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(182, 127, 233, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(138, 89, 184);
    border: .25em solid var(--glow-color);
    padding: 0.5em 1.5em;
    color: var(--glow-color);
    font-size: 25px;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}
.butOne button::after, .butSecon button::after, .butThre button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}
.butOne button:hover, .butSecon button:hover, .butThre button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 1em .05em var(--glow-spread-color),
    inset 0 0 .05em .005em var(--glow-color);
}
/*Reproductor de musica*/
.five{
    display: flex;
    gap: 4px;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;

}
.five .txtFinal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.five .txtFinal h2{
    font-size: 30px;
    font-family: "Hachi Maru Pop", cursive;
    text-align: center;
}
.wrapper{
    width: 380px;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background: var(--white);
    box-shadow: 0px 6px 15px var(--lightbshadow);
}
.wrapper i{
    cursor: pointer;
}
.progress-area .song-timer, 
.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.song-details{
    text-align: center;
    margin: 30px 0;
}
.song-details p{
    color: var(--lightblack);
}
.song-details .name{
    font-size: 21px;
}
  .song-details .artist{
    font-size: 18px;
    opacity: 0.9;
    line-height: 35px;
}
.progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: #f0f0f0;
    cursor: pointer;
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%);
}
.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
}
  .progress-area .song-timer{
    margin-top: 2px;
}
  .song-timer span{
    font-size: 13px;
    color: var(--lightblack);
}
.controls{
    margin: 40px 0 5px 0;
}
.controls i{
    font-size: 28px;
    user-select: none;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4){
    font-size: 43px;
}
.controls #prev{
    margin-right: -13px;
}
  .controls #next{
    margin-left: -13px;
}
.controls .play-pause{
    height: 54px;
    width: 54px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%);
    box-shadow: 0px 0px 5px var(--pink);
}
.play-pause::before{
    position: absolute;
    content: "";
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}
.play-pause i{
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    background: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}
::-webkit-scrollbar {
    background-color: #444;
    width: .4rem;
}
::-webkit-scrollbar-thumb {
    background-color: #1a03e7;
    border-radius: 56px;
}
@media (min-width: 320px) and (max-width: 510px){
    .header{
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 15px 0px 15px 0px;
        font-size: 80%;
    }
    .titleHead{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .navHead{
        padding-left: 0%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .navHead li{
        padding: 5px;
        border-radius: 12px;
        font-size: 17px;
    }
    .celuTximg{
        display: inline;
    }
    .text1Cel{
        font-family: "Hachi Maru Pop", cursive;
        font-size: 15px;
    }
    .secontextCel{
        font-size: 17px;
    }
    .inili, .playli{
        margin-right: 0px;
        margin-bottom: 5px  ;
    }
    .imgPort{
        background-image: url(/img/portada.png);
    }
    .textImg{
        font-size: 20px;
    }
    .positionImg{
        margin-left: 1%;
        padding-top: 700px;
    }
    .neon{
        font-size: 28px;
    }
    .sectInic{
        font-size: 30px;
    }
    .sectSec{
        padding: 0 0 0 0;
    }
    .secPone{
        margin-bottom: 10px;
    }
    .secPdos{
        margin-bottom: 10px;
    }
    .kaitoSec{
        font-family: "Hachi Maru Pop", cursive;
        font-size: 10px;
        text-align: center;
        margin-bottom: 5%;
    }
    .kaitoSec img{
        margin-left: 6%;
        text-align: center;

        width: 90%;
    }
    .emuSec img {
        width: 50%;
        height: 50%;
        margin-right: 1%;
    }
    .emuSec h1{
        font-size: 150%;
    }
    .h1SecDos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .h1SecDos h1{
        font-family: "Hachi Maru Pop", cursive;
        font-size: 16px;
        text-align: center;
    }
    .h1SecDos img{
        width: 31%;
        height: 31%;
    }
    .imgOfsec img{
        width: 5    0%;
        height: 50%;
    }
    .background{
        width: 100px;
        height: 300px;
        margin: 0;
    }
    .one{
        width: 100px;
        height: 300px;
    }
    .envelope-wrapper > .envelope {
        position: relative;
        width: 315px;
    }
    .envelope-wrapper > .envelope::after {
        border-top: 140px solid transparent;
        border-right: 157px solid var(--envelope-cover);
        border-bottom: 120px solid var(--envelope-cover);
        border-left: 157px solid var(--envelope-cover);
    }
    .envelope-wrapper > .envelope::before {
        border-top: 200px solid var(--envelope-tab);
        border-right: 157px solid transparent;
        border-left: 157px solid transparent;
        transform-origin: top;
        transition: all 0.5s ease-in-out 0.7s;
    }
    .aizenSec{
        margin-bottom: 0;
    }
    .aizenSec h1{
        font-size: 180%;
    }
    .aizenSec img{
        width: 40%;
        height: 40%;
        margin-left: 1%;
    }
    .ichirkusSec h1{
        font-size: 140%;
    }
    .ichirkusSec img{
        margin-right: 2%;
        width: 55%;
        height: 400px;
    }
    .flap > .envelope > .letter {
        transform: scale(1);
    }
    .tridSecone video, .tridSectwo video{
        width: 90%;
    }
    .imgFourGif{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgFourGif img{
        width: 55%;
        transform: rotate(90deg);
    }
    .katmikTred{
        font-size: 30px;
    }
    .katmikTred h1{
        font-size: 30px;
    }
    .kaituMikutres h3{
        font-size: 15px;
    }
    .kaitogiftTrid{
        margin-top: 10px;
        margin-bottom: 5px;
        display: flex;
    }
    .kaitogiftTrid img{
        width: 40%;
        height: 40%;
    }
    .videomikuKaito, .imgFourGif{
        order: 3;
    }
    .mikuNavidad{
        margin-top: 5px;
    }
    .mikNavTitle{
        font-size: 35px;
    }
    .mikuNavText h3{
        font-size: 15px;
        margin-bottom: 5px;
    }
    .mikNavTitle h1{
        text-align: center;
        font-size: 25px;
    }
    .mikuNavidad img{
        width: 200px;
        height: 300px;
    }
    .titleFourgift{
        font-size: 29px;
    }
    .titleFourgift h1{
        text-align: center;
        font-size: 20px;
    }
    .textPrinFour h3, .textSecFour h3{
        font-size: 15px;
    }
    .textSecFour{
        margin-bottom: 5px;
    }
    .textPrinFour img, .textSecFour img{
        width: 150px;
        height: 150px;
    }
    .titlGift img, .butOne img, .butSecon img, .butThre img{
        width: 150px;
        height: 150px;
    }
    .butOne button, .butSecon button, .butThre button{
        padding: 0.5em 1em;
    }
    .five{
        display: grid;
    }
    .wrapper{
        width: 100%;
        padding: 15px 15px;
    }
    .txtFinal{
        font-size: 10px;
    }
    .five .txtFinal{
        font-size: 20px;
    }
    .five .txtFinal h2{
        font-size: 25px;
    }
}
@media (min-width: 511px) and (max-width: 850px){
    .header{
        display: grid;
        align-items: center;
        justify-content: center;
        padding: 15px 0px 15px 0px;
        font-size: 15px;
    }
    .titleHead{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .navHead{
        padding-left: 0%;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .navHead li{
        padding: 5px;
        border-radius: 12px;
        font-size: 16px;
        display: inline-block;
        cursor: pointer;
    }
    .celuTximg{
        display: inline;
    }
    .text1Cel{
        font-family: "Hachi Maru Pop", cursive;
        font-size: 17px;
    }
    .secontextCel{
        font-size: 19px;
    }
    .inili, .playli{
        margin-right: 4px;
    }
    .imgPort{
        background-image: url(/img/portada3.png);
    }
    .textImg{
        font-size: 26px;
    }
    .positionImg{
        margin-left: 1%;
        padding-top: 710px;
    }
    .neon{
        font-size: 45px;
    }
    .sectInic{
        font-size: 45px;
    }
    .secPtres{
        order: 2;
    }
    .secPdos{
        order: 3;
    }
    .kaitoSec h1{
        font-size: 23px;
    }
    .kaitoSec img{
        width: 320px;
        height: 320px;
    }
    .emuSec h1{
        font-size: 20px;
    }
    .emuSec img, .aizenSec img{
        width: 180px;
        height: 180px;
    }
    .ichirkusSec img{
        width: 200px;
    }   
    .h1SecDos{
        margin-top: 10px;
        display: flex;
    }
    .h1SecDos img{
        width: 150px;
    }
    .imgOfsec img{
        width: 150px;
        height: 150px;
    }
    .kaitogiftTrid{
        margin-top: 10px;
        display: flex;
    }
    .kaituMikutres h3{
        font-size: 15px;
    }
    .kaitogiftTrid img{
        width: 180px;
        height: 180px;
    }
    .videomikuKaito, .imgFourGif{
        order: 3;
    }
    .tridSectwo img{
        width: 200px;
        height: 300px;
    }
    .mikuNavText h3{
        font-size: 17px;
    }
    .tridSecone video, .tridSectwo video{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 500px;
    }
    .titleFourgift h1{
        font-size: 30px;
    }
    .imgFourGif img{
        margin-top: 5px;
        width: 300px;
    }
    .five{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .mikNavTitle h1{
        font-size: 33px
    }
    .mikuNavText h3{
        font-size: 13.5px;
    }
    .neonTitlegift{
        text-align: center;
    }
    .five{
        gap: 10px;
    }

}
@media (min-width: 851px) and (max-width: 1000px){
    .header{
        padding: 17px 0px 17px 0px;
        font-size: 14px;
    }
    .navHead{
        padding-left: 10%;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .navHead li{
        padding: 10px;
        border-radius: 12px;
        font-size: 14px;
    }
    .inili, .playli{
        margin-right: 5px;
    }
    .imgPort{
        background-image: url(/img/portada3.png);
    }
    .positionImg{
        margin-left: 1%;
        padding-top: 760px;
    }
    .secPtres{
        order: 2;
    }
    .secPdos{
        order: 3;
    }
    .kaitoSec h1{
        font-size: 23px;
    }
    .kaitoSec img{
        width: 320px;
        height: 320px;
    }
    .emuSec h1{
        font-size: 20px;
    }
    .emuSec img, .aizenSec img{
        width: 180px;
        height: 180px;
    }
    .ichirkusSec img{
        width: 200px;
    }
    .h1SecDos h1{
        font-size: 15px;
    }
    .secPdos{
        flex-direction:row;
        gap:10px
    }
    .h1SecDos{
        display: grid;
    }
    .h1SecDos img{
        width: 150px;
    }
    .imgOfsec img{
        width: 140px;
        height: 140px;
    }
    .kaituMikutres h3{
        font-size: 17px;
    }
    .kaitogiftTrid img{
        width: 180px;
        height: 180px;
    }
    .videomikuKaito, .imgFourGif{
        order: 3;
    }
    .tridSectwo img{
        width: 200px;
        height: 300px;
    }
    .mikuNavText h3{
        font-size: 17px;
    }
    .tridSecone video, .tridSectwo video{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 580px;
    }
    .titleFourgift h1{
        font-size: 30px;
    }
    .imgFourGif img{
        margin-top: 5px;
        width: 300px;
    }
    .five .txtFinal{
        font-size: 25px;
    }
    .five .txtFinal h2{
        font-size: 22px;
    }
}
@media (min-width: 1001px) and (max-width: 1272px){
    .header{
        padding: 17px 0px 17px 0px;
        font-size: 16px;
    }
    .navHead{
        padding-left: 12%;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .navHead li{
        border-radius: 12px;
        font-size: 17px;
    }
    .inili, .playli{
        margin-right: 3px;
    }
    .imgPort{
        background-image: url(/img/portada2.png);
    }
    .positionImg{
        margin-left: 1%;
        padding-top: 700px;
    }
    .textImg{
        font-size: 25px;
    }
    .secPtres{
        order: 2;
    }
    .secPdos{
        order: 3;
    }
    .mikuNavText h3{
        margin-bottom: 5px;
    }
    .h1SecDos{
        display: grid;
    }
    .h1SecDos img{
        width: 200px;
    }
    .imgOfsec img{
        width: 200px;
    }
    .h1SecDos h1{
        font-size: 15px;
    }
    .secPdos{
        flex-direction:row;
        gap:10px
    }
    .videomikuKaito{
        margin-top: 10px;
        margin-bottom: 10px ;
    }
    .videomikuKaito, .imgFourGif{
        order: 3;
    }
    .titleFourgift h1{
        font-size:30px;
    }
    .imgFourGif img{
        width: 300px;
        transform: rotate(90deg);
    }
    .five{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
@media (min-width: 1273px) and (max-width: 1472px){
    .header{
        padding: 17px 0px 17px 0px;
        font-size: 16px;
    }
    .navHead{
        padding-left: 12%;
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    .navHead li{
        border-radius: 12px;
        font-size: 17px;
    }
    .inili, .playli{
        margin-right: 10px;
    }
    .imgPort{
        background-image: url(/img/portada2.png);
    }
    .positionImg{
        margin-left: 1%;
        padding-top: 700px;
    }
    .kaitoSec h1{
        font-size: 20px;
    }
    .kaitoSec img{
        width: 350px;
    }
    .emuSec img{
        width: 180px;
        height: 180px;
    }
    .emuSec h1{
        font-size: 17px;
    }
    .aizenSec img{
        width: 180px;
        height: 180px;
    }
    .aizenSec h1{
        font-size: 17px;
    }
    .ichirkusSec img{
        width: 220px;
    }
    .ichirkusSec h1{
        font-size: 19px;
    }
    .textImg{
        font-size: 25px;
    }
    .tridSecone video, .tridSectwo video{
        width: 450px;
    }
    .kaitogiftTrid img{
        width: 200px;
        height: 200px;
    }
    .mikNavTitle{
        font-size: 40px
    }
    .mikNavTitle h1{
        font-size: 40px;
    }
    .mikuNavText{
        font-size: 13px;
    }
    .mikuNavidad img{
        height: 310px;
    }
    .kaituMikutres h3{
        font-size: 17px;
    }
    .imgFourGif img{
        width: 400px;
    }
    .textPrinFour img, .textSecFour img{
        width: 130px;
    }
    .textPrinFour h3, .textSecFour h3{
        font-size: 15px;
    }
}
@media (min-width: 1473px) and (max-width: 1572px){
    .header{
        font-size: 20px;
    }
    .textImg{
        font-size: 20px;
    }
    .tridSecone video, .tridSectwo video{
        width: 550px;
    }
    .kaitogiftTrid img{
        width: 200px;
        height: 200px;
    }
    .mikNavTitle{
        font-size: 40px
    }
    .mikNavTitle h1{
        font-size: 40px;
    }
    .mikuNavText{
        font-size: 13px;
    }
    .mikuNavidad img{
        height: 380px;
    }
}
@media (min-width: 1573px) and (max-width: 1666px){
    .textImg{
        font-size: 25px;
    }
    .tridSecone video, .tridSectwo video{
        width: 550px;
    }
    .kaitogiftTrid img{
        width: 200px;
        height: 200px;
    }
    .mikNavTitle{
        font-size: 40px
    }
    .mikNavTitle h1{
        font-size: 40px;
    }
    .mikuNavText{
        font-size: 15px;
    }
    .mikuNavidad img{
        height: 380px;
    }
}